# environment
.env
.env.bat

# local files
proyecto-cdb-docker/logs
*.deb
doc/time-test.txt

# local files - data importer
data-importer/node_modules
data-importer/source-files/**/*
!data-importer/source-files/.gitkeep